@use 'variables' as v

nav
  &.navbar
    background: v.$bg-color-primary
    padding: .75rem .5rem
    margin: 0 0 .75rem
    box-shadow: 0 5px 20px 10px rgb(0 0 0 / 0.25)

    .container
      margin: auto
      width: 1024px

      .logo
        position: static
        display: block
        width: auto

        a
          color: v.$color-primary
          font-size: 1.4rem
          font-weight: 900
          line-height: 1.25rem
          line-height: 1.625
          text-decoration: none
